BLUESKY_ACTOR="burnerhhg.bsky.social"
INPUT_FACE_PATH="assets/selfie.jpg"
WEB3_PROVIDER_URI="https://rpc-amoy.polygon.technology/"
PRIVATE_KEY=""
CONTRACT_ADDRESS=""
NETWORK="local" # options: local, amoy
